[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext
x509_extensions = x509_ext

[dn]
CN = Parque de la Costa

[req_ext]
subjectAltName = @alt_names

[x509_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 3.91.44.118